<!-- Brand Logo -->
<a href="/" class="brand-link">
    <img class="brand-image img-circle elevation-3">
    <i class="fas fa-bible" style="opacity: .8"></i>
    </img>
    <span class="brand-text font-weight-light">&nbsp;&nbsp;Almanaka</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <br/>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="./index.html" class="nav-link active">
                    <i class="fa fa-plus"></i>
                    <p>Hanampy Seho</p>
                </a>
            </li>
            <div th:if="${@csvController.menu != null && !@csvController.menu.menuItems.isEmpty}">
                <li class="nav-item" th:each="menuItem:${@csvController.menu.menuItems}">
                    <a href="#" th:href="@{'/almanaka/'+${menuItem.href}}" class="nav-link">
                        <i class="nav-icon far fa-circle"></i>
                        <p>
                            <span th:text="${#strings.capitalize(#strings.abbreviate(menuItem.label,22))}"></span>
                        </p>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->